{{ friendModel | json }}

<div style="text-align: center">
  <h1 class="app-title">My friend list</h1>
</div>
<div class="container">
  Add a friend here!
  <br>
  <form #formName="ngForm" method="post">
    <input #inputName="ngModel" name="firstName" type="text" class="input-text" placeholder="Type firstName"
           [(ngModel)]="friendModel.firstName">
    <input #inputName="ngModel" name="lastName" type="text" class="input-text" placeholder="Type lastName"
           [(ngModel)]="friendModel.lastName">
    <input #inputName="ngModel" name="email" type="text" class="input-text" placeholder="Type email"
           [(ngModel)]="friendModel.email">
    <input #inputName="ngModel" name="phoneNumber" type="text" class="input-text" placeholder="Type email"
           [(ngModel)]="friendModel.phoneNumber">
    <select #inputName="ngModel" [(ngModel)]="friendModel.codingLanguage" name="codingLanguage">>
      <option *ngFor="let languages of codingList" value="{{languages}}">{{languages}}</option>
    </select>
    <button class="add-btn" (click)="addFriend()" (keyup.enter)="addFriend()">Add friend</button>
    <div class="list">
      <ul>
        <li>
<!--          <input type="checkbox" name="isDone" [(ngModel)]="friendModel.firstName">-->
<!--          {{friendModel.firstName}}-->
          <button class="delete-btn" (click)="deleteFriend()">Delete friend</button>
        </li>

      </ul>
    </div>
  </form>
</div>



